.colorshift {
  animation-name: hue;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


.fastshift {
  animation-duration: 900ms;
}


asdasd.album_thumb {
  animation-name: hue;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  }
