/*@import url("/style.css");*/


html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

body {
//  background: #EEE;
  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #282B30;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

figure {
  display: block;
  max-width: 100%;
}

a {
  color: #3169B3;
}
a:hover {
  color: #C00;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin: 0 0 12px;
}
ul {
  list-style: disc;
}
ul, ol {
  padding: 0;
  margin: 0 0 12px 25px;
}
li {
  margin: 0 0 12px 0;
}
h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  line-height: 1;
  margin: 1em;
  font-weight: 600;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #282B30;
}

strong {
  font-weight: 600;
}

figcaption {
  display:block;
}

.container {
  width: 100%;
}

.content {
  max-width: 1024px;
  margin: 24px auto;
  padding:2em 0;
}

#menu {
  width: 100%;
  background: #F7F7F7 none repeat scroll 0 0;
  padding: 30px 0;
}

#menu ul {
  max-width: 1024px;
  margin: 0 auto;
}

#menu li {
    display: inline;
    list-style: none; /* pour enlever les puces sur IE7 */
}

.album-list {
  width: 100%;
  padding: 2em 0;
  margin: auto;
  background: #EEE none repeat scroll 0 0;
  float:left;
}

.thumbnail {
  text-align: center;
/*  float:left;*/
}
.thumbnail img {
  max-width: 85%;
  height: auto;
  margin: 0 2px 5px 2px;
  border: 10px solid #fff;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px #B1B1B1;
  padding: 0 0 2px;
}
.thumbnail img:hover {
  box-shadow: 0 0 5px #818181;
}

.album_title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video {
  width: 100%;
  margin: 0 0 24px 0;
}
.video__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video__container iframe,
.video__container video {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2% 0 15% 0;
}
.video-desc {
  width: 100%;
  max-width: 740px;
  margin: 12px auto;
}

.additionnal-infos {
  width: 100%;
  height: auto;
  float: left;
}

.gallery {
  width: 100%;
  height: auto;
  float: left;
  padding-top:1em;
}
.gallery a {
  line-height: 0;
}

.gallery__img--main a{
  width: auto;
  height: auto;
}

.menu-img,
.gallery__img--secondary {
  width: 25%;
  float:left;
  margin-bottom: 1em;
}

.gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}

footer {
  width:100%;
  float:left;
}

footer p {
  text-align: center;
}
footer span:not(:last-child):after {
  content: ' - ';
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .menu-img,
  .gallery__img--secondary {
    width: 33%;
  }
}


@media screen and (max-width: 500px) {
  .menu-img,
  .gallery__img--secondary {
    width: 50%;
  }
}


@media screen and (max-width: 300px) {
  .menu-img,
  .gallery__img--secondary {
    width: 100%;
  }
}



--------------------------------------------------------------



Cammy



-----------------------------------------------------------------









@import url("/fonts/karmen/stylesheet.css");



.album_thumb {
    border: 8pt solid transparent;
    border-image: url(/frames/framecp.png) round;
    border-image-slice: 30% fill;
}


.thumbnail img {
    border: 8pt solid transparent;
    border-image: url(/frames/framecp.png) round;
    border-image-slice: 30% fill;
    box-shadow: none;
}


/*.album_thumb { 
    border: 8pt solid transparent !important;
    border-image-slice: 30% fill !important;
    box-shadow: none;
border-image: url(/frames/framefolder.png) round !important;
}*/


body {
    background-image: url("Background.png");
    background-color: none;
    color: white;
}

h1 a {
    color: white;
}

nooopeimg {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


display: block;
width: 100% !important;
max-height :100% !important;
height: auto !important;





h3 {
    font-weight: bold !important;
}




.thumbnail img:hover {
    box-shadow: none;
}

.album-list {
    background: none;
}

/*
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
fieldset,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
    margin: 1px;
}*/

#HCB_comment_box {
    color: white;
    max-width: 80%;
}


a {
    color: #84abe6;
}



element {

}
a:hover {

    color: #C00;

}
a {

    color: #84abe6;

}
a {

    color: #81b7ff;

}

h2, h3, h4, h5, h6 {

    font-family: "Karmen bold";
}


   .centra { text-align: center; }
   
   
 /*  figcaption {
    display: block;
}*/


.gallery {
   float: none;
}


.pswp__caption__center {
    font-weight: bold;
    font-size: large;
}


.content {
     max-width: unset;
    /* margin: 24px auto; */
    width: 100%;
/*    float: left;*/
}


 .bg {
    margin:2px;
}

 .bg {
    border-image: none;
    border-color: #9c0000;
    border-width: 1px;
    background: #151414;
    margin:2px;
    padding: 5px;
}

.thumbnail img {
    border-image: none;
    border-color: #682867;
    border-width: 1px;
}

 .vid { border-color:#828200;}


body {    
background: #1C1C1C;
background-image:none; 
}


p {display:none;}


.flex {
    display: flex;
    flex-direction: row;
    place-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}



.colorshift {
  animation-name: hue;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.love {
    width:20%;
}

.shid {
	width:50%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}


----------------------------------

Menu

-----------------------------------



/* albums menu */

.menu {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  display: table !important;
  margin-left: 5px;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.menu ul {
  padding-left: 0;
  list-style-type: none;
}

.menu ul ul {
  padding-left: 14px;
}

.menu ul ul ul ul ul {
  font-size: 12px;
}

.menu a,
.menu a:link,
.menu a:visited {
  text-decoration: none;
  display: block;
  color: #333;
}

.menu a:hover,
.menu .current > a {
  color: #3993C2;
}

.menu .title {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (pointer: coarse) {
  .menu {
    font-size: 20px;
    line-height: 1.5;
  }

  .menu li {
    display: none;
  }

  .menu li.current > ul > li, /* children */
  .menu ul.current_siblings > li, /* siblings and self */
  .menu li.current_ancestor { /* ancestors */
    display: list-item;
  }

  .menu ul ul ul ul ul {
    font-size: 18px;
  }

  .menu .title {
    font-size: 16px;
  }
}



.menu a, .menu a:link, .menu a:visited {
    color:white;
}


.menu {
/*    float:left;*/
    font-variant:small-caps;
}


.menu li > a:not(:only-child):before { content: url('dir_open.webp'); }
.menu li > a:only-child:before { content: url('dir_clos.webp'); }
.feed .menu li > a:before { content: url('/feed.png') !important; }

ul, ol {
    padding: 0;
    margin: 0 0 8px 2px;
}


::marker { content:none; }

