
{% extends "base.html" %}

{% block content %}

  <header>

<link rel="stylesheet" href="{{ theme.url }}/styles.css">
<link rel="stylesheet" href="{{ theme.url }}/notinmedia.css">
  
    {% if album.breadcrumb %}
    <h2>
      <a href="{{ album.index_url }}">{{ index_title }}</a> » 
      {% for url, title in album.breadcrumb %}
      <a href="{{ url }}">{{ title }}</a> »
      {% endfor -%}
      <a href="#">{{ media.title }}</a>
    </h2>
    <hr>
    {% endif %}

<style type="text/css" media="screen">
.notinmedia { display:none; }
</style>



<meta property="og:image" content="http://www.duendeinexistente.com/sigal/_build/{{ album.path }}/{{ media.title }}.png">      
<meta property="og:title" content="{{ media.title }}" />
<meta property="og:type" content="website" />
<!--<meta property="og:description" content="Leave a comment at <a href='http://www.duendeinexistente.com/sigal/_build/{{ album.path }}/{{ media.title }}.png.html'>{{ media.title }}</a>, or browse <a href='http://www.duendeinexistente.com/sigal/_build/{{ album.path }}'>other images like it</a>" />-->
<meta property="og:url" content="{{ media.url }}.html" />
<meta property="og:image:width" content="300" />
<meta name="twitter:card" content="summary_large_image" />

  </header>

  {% if media %}
  <div class="thumbnail">
    {% if media.type == "image" %}
      <img src="{{ media.url }}" alt="{{ media.title }}" title="{{ media.title }}" />
    {% endif %}
    {% if media.type == "video" %}
      <video controls>
        <source src='{{ media.url }}' type='video/webm' />
      </video>
    {% endif %}

    <p>
      {% if previous_media %}
      <a href="{{ previous_media.url }}.html">« previous</a>
      {% endif %}
      <a href="..">Return ||</a>
      {% if next_media %}
      <a href="{{ next_media.url }}.html">next »</a>
      {% endif %}
    </p>
  </div>
  {% endif %}
{% endblock %}
