@import url("../../../fonts/karmen/stylesheet.css");
@import url("../../../hueshift.css");


.album_thumb {
    border: 8pt solid transparent;
    border-image: url(../../../frames/framecp.png) round;
    border-image-slice: 30% fill;
}

body {
    background-image: url("Background.png");
    background-color: none;
    color: white;
}

h1 a {
    color: white;
}

nooopeimg {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


display: block;
width: 100% !important;
max-height :100% !important;
height: auto !important;



h3 {
    font-weight: bold !important;
}

.thumbnail img {
    border: 8pt solid transparent;
    border-image: url(../../../frames/framecp.png) round;
    border-image-slice: 30% fill;
    box-shadow: none;
}


.thumbnail img:hover {
    box-shadow: none;
}

.album-list {
    background: none;
}

/*
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
fieldset,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
    margin: 1px;
}*/

#HCB_comment_box {
    color: white;
    max-width: 80%;
}


a {
    color: #84abe6;
}



element {

}
a:hover {

    color: #C00;

}
a {

    color: #84abe6;

}
a {

    color: #81b7ff;

}

h2, h3, h4, h5, h6 {

    font-family: "Karmen bold";
}


   .centra { text-align: center; }
   
   
 /*  figcaption {
    display: block;
}*/


.gallery {
   float: none;
}


.pswp__caption__center {
    font-weight: bold;
    font-size: large;
}


.content {
     max-width: unset;
    /* margin: 24px auto; */
    width: 100%;
    float: left;
}
