@font-face {
  font-family: '36 days ago BRK';
  src: url('36 days ago BRK.eot');
  src: url('36 days ago BRK.eot?#iefix') format('embedded-opentype'),
       url('36 days ago BRK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '36daysagoBRK';
  src: url('36daysagoBRK.svg#36daysagoBRK') format('svg'),
       url('36daysagoBRK.ttf') format('truetype'),
       url('36daysagoBRK.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

