<!doctype html>
<html lang="{{ settings.html_language }}">
  <head>
<!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
<script src="/webcomponents-loader.min.js"></script>
<!-- Load the element definition -->
<script type="/module" src="zero-md.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ album.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ album.author }}">
    <meta name="viewport" content="width=device-width">
    {% block extra_head %}{% endblock extra_head %}
    <link rel="stylesheet" href="{{ theme.url }}/styles.css">
    {% if user_css %}
    <link rel="stylesheet" href="{{ theme.url }}/{{ user_css }}">
    {% endif %}
    {% include 'analytics.html' %}
  </head>
  <body>
    {% include 'decrypt.html' %}
    {% include 'gtm.html' %}
    <div class="container">
      

      {% include 'links.html' %}

<div style="float:left; width:20%;">
        <div style="font-variant:small-caps;">
        <img src=/feed.png></img>
        <a href="http://www.duendeinexistente.com/gl/feed.rss">RSS</a> /
        <a href="http://www.duendeinexistente.com/gl/feed.atom">ATOM</a>
        feeds.
</div>
        
            <div class="menu">

        <li><a href="http://www.duendeinexistente.com/">Return to homepage</a></li>
  	<li><a href="{{album.path_to_root}}">Root</a><ul></li>
          {% with albums=album.gallery.full_tree, depth=0 %}
            {% include './menu.html' %}
          {% endwith %}
	   </div>
	  <div style="font-variant:small-caps;">
	  <a href="http://www.duendeinexistente.com/sigal/gl/%40Others/2020"><img src=/star.png></img>2020's art</a>
	  <br>
	  <a href="http://www.duendeinexistente.com/sigal/gl/%40Others/2021"><img src=/star.png></img>2021's art</a>
	  <br>
          <a href="http://www.duendeinexistente.com/sigal/gl/%40Others/2022"><img src=/star.png></img>2022's art</a>

	          <div style="border-style:solid;border-color:white;border-width:1px;">
        <!--<zero-md src="./index.md"></zero-md>-->
        This is a raw dump of my work folders, and you know how it is with other people's workplaces.
<br>
Caution adviced. Here be penises.
        </div>
	  </div>
	  
	  
	  
	  
	   <img class="love colorshift" src="/tenorrgb.gif">
	   <img class="shid" src="/liddle shid bi.gif">
	   <img class="love colorshift" src="/tenorrgb.gif">
	
</div>

<div style="float:right; width:79%;">
      <div class="content">
        {% block content %}{% endblock %}
        {% if album.description %}
        <div id="description" class="row">
        {{ album.description }}
        </div>
        {% endif %}
      </div>

      {% include 'footer.html' %}
      {% block extra_footer %}{% endblock %}
  </div>
  {% include 'piwik.html' %}

</div>
  </body>
</html>









